# Ignore the data folder and its contents
data/

# ignore the pth files
*.pth

wandb/

# Ignore the .env file

.env

# Ignore the pycache folder
__pycache__/

graficos/

models_metrics.py.txt

resnet/